@font-face {
    font-family: 'norsebold';
    src: url('./../fonts/norse-font/norse-bold-webfont.woff2') format('woff2'),
         url('./../fonts/norse-font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

#left-container{
    position: relative;
    display: flex;
    direction: column;
    width: 30%;
}

.left-bg{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-position: center;
}

.logo{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    height: 75px;
    top: 25%;
    width: 100%;
    opacity: 1;
    justify-content: center;
}

.logo-image{
    height: 75px;
    display: inline;
    padding-right: 0px;
    margin-right:0;
}


.logo>p{
    padding-left: 0px;
    margin-left: 0;
    color: white;
    display:inline;
    align-self: center;
    font-size: 45px;
    font-family: "norsebold";
}

#right_container {
    display:flex;
    flex-direction: column;
    flex: 1;
}

.top-container{
    height: 20vh;
    padding-top: 80px;
    background-color: rgba(127, 169, 132, 0.1);
    font-size: larger;
}
fieldset{
    padding: 20px;
    border-left: none;
    border-right: none;
    box-shadow:0px 2px #596D48;
    box-shadow: 0px 2px 15px -3px #596D48;
}

.form_inputs{
    display: flex;
    flex-direction: column;
}
.form-item{
    padding: 15px 0;
}

.row-1{
    display: flex;
    gap: 40px;
}

.row-2{
    display: flex;
    gap: 40px;

}

.row-3{
    display: flex;
    gap: 40px;

}

.form-button{
    padding: 20px 20px 10px;
    margin-bottom: 0px;
}
button{
    background-color: #596D48;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
}
a{
    color: #596D48;
    text-decoration: none;
}

p{
    padding: 10px 20px;
}

input{
    border-radius: 2px solid #304267;
}

input:focus, input:active{
    border: solid 2px rgb(114, 114, 147);
    box-shadow:solid 3px #E5E7EB;
}
input:invalid{
    border-radius: 2px solid #304267;
    box-shadow: 2px 2px 5px red;
}
